## Intellij
.idea/

## VSCode
.vscode/

## File-based project format:
*.iws
*.iml

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.dat
*.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Goreleaser builds
**/dist/**

# Binary
bin/

# This is my wip ideas folder
experiments/**

banner.jpg

testdata/
